* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #6d6d83;
  background-color: #ffffff;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.products {
  padding: 120px 0 120px;
  background-image: url("images/background-dandelions.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 790px auto;
}

.products__title {
  margin-bottom: 70px;
  text-align: center;
  font-size: 70px;
  font-weight: 400;
  color: #5a5b88;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 40px;
}

.card {
  display: flex;
  flex-direction: column;
  width: 340px;
  min-height: 573px;
  padding: 20px;
  background-color: #f8f7fc;
  border: 1px solid #f1eff8;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.card__image {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 230px;
  margin-bottom: 20px;
  object-fit: contain;
}

.card__type {
  margin-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #b9b6ca;
}

.card__title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #5a5b88;
}

.card__description {
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 1.5;
}

.card__composition {
  margin-bottom: 25px;
}

.card__subtitle {
  margin-bottom: 8px;
  font-size: 14px;
}

.card__ingredients {
  padding-left: 18px;
  list-style-type: circle;
}

.card__ingredient {
  margin-bottom: 6px;
  font-size: 14px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  font-size: 16px;
  color: #5a5b88;
}

.card__price--label {
  font-weight: 700;
}

.card__price--value {
  font-weight: 400;
}

.card--active {
  background-color: #c9f5d2;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 70px;
}

.button {
  width: 150px;
  min-height: 50px;
  padding: 10px;
  border: 2px solid #5a5b88;
  border-radius: 24px;
  background-color: #ded5fc;
  color: #3f4175;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #b8a8ed;
}

.button--active {
  background-color: hsla(60, 100%, 50%, 0.964) !important;
  color: rgb(0, 0, 0);
}